@model List<MyResourcePlanning.Web.ViewModels.Skill.GroupedUserSkillsViewModel>

@{
    ViewData["Title"] = "My Skills";
}

<div class="jumbotron">
    <h1 class="text-center">My Skills</h1>
    <hr class="bg-resources hr-2" />
    <div class="d-flex justify-content-between p-3">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="form-group w-45">Skill name</th>
                    <th class="form-group w-45">Skill level</th>
                    <th class="float-right">Action</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="accordion" id="accordionExample">
        @for (int i = 0; i < Model.Count; i++)
        {
            <div class="panel-group">
                <div class="panel panel-default">

                    <div class="panel-heading card text-white bg-info mb-3 cl" id="headingOne">
                        <div>
                            <h4 class="mb-0 text-center">
                                <span class="center-block">@Model[i].CategoryName</span>
                            </h4>
                        </div>
                        <button type="button" data-toggle="collapse" data-target="#@("collapseOne"+i)"><i class="far fa-object-ungroup fa-2x text-success"></i></button>
                    </div>
                    <div id="@("collapseOne"+i)" class="collapse" aria-labelledby="headingOne">
                        <ul class="list-group">
                            @foreach (var skill in @Model[i].SkillInfo.OrderBy(s => s.SkillName))
                            {
                                <li class="list-group-item">
                                    <div class="d-flex justify-content-between">
                                        <div class="form-group w-45">
                                            <span>@skill.SkillName</span>
                                        </div>
                                        <div class="form-group w-45">
                                            <span>@skill.Level</span>
                                        </div>
                                        <div class="float-right">
                                            <a asp-action="EditSkilllevel" asp-route-id="@skill.SkillId" class="btn bg-transparent"><i class="fas fa-edit" data-placement="top" title="Edit skill level in my profile"></i></a>
                                            <a asp-action="RemoveSkill" asp-route-id="@skill.SkillId" class="btn bg-transparent"><i class="fas fa-user-minus" data-placement="top" title="Remove skill from my profile"></i></a>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $(".collapse.show").each(function () {
                $(this).prev(".panel-heading").find(".far").addClass("fa-object-group").removeClass("fa-object-ungroup");
            });

            $(".collapse").on('show.bs.collapse', function () {
                $(this).prev(".panel-heading").find(".far").removeClass("fa-object-ungroup").addClass("fa-object-group");
            }).on('hide.bs.collapse', function () {
                $(this).prev(".panel-heading").find(".far").removeClass("fa-object-group").addClass("fa-object-ungroup");
            });
        });
    </script>
}