@model Tuple<List<MyResourcePlanning.Web.ViewModels.Training.TrainingAllViewModel>, IList<string>>

@{
    ViewData["Title"] = "All trainings";
}

<div class="jumbotron">
    <h1 class="text-center">All Trainings</h1>
    <hr class="bg-resources hr-2" />
    <partial name="_SearchAndFilterHeaderPartial" />
    <div class="table-responsive">
        <table class="table table-striped table-bordered sortable" cellspacing="0" width="100%" id="table-id">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Status</th>
                    <th scope="col">Due Date</th>
                    @if (true)
                    {
                        <th scope="col">Action</th>
                    }
                </tr>
            </thead>
            <tbody id="myTable">
                @for (int i = 0; i < Model.Item1.Count; i++)
                {
                    <tr>
                        <td>@Model.Item1[i].Name</td>
                        <td>@Model.Item1[i].Type</td>
                        <td>@Model.Item1[i].Status</td>
                        <td>@Model.Item1[i].DueDate</td>
                        <td>
                            <a asp-action="AssignToUser" asp-route-id="@Model.Item1[i].Id" class="btn bg-transparent"><i class="fas fa-user-plus" data-placement="top" title="Assign training to user"></i></a>
                            @if (!Model.Item2.Any(s => s == Model.Item1[i].Id) && this.User.IsInRole(GlobalConstants.ResourceRoleName))
                            {
                                <a asp-action="Request" asp-route-id="@Model.Item1[i].Id" class="btn bg-transparent"><i class="fas fa-plus" data-placement="top" title="Assign training to my profile"></i></a>
                            }
                            <a asp-action="Edit" asp-route-id="@Model.Item1[i].Id" class="btn bg-transparent"><i class="fas fa-edit fa-1x" data-placement="top" title="Edit training"></i></a>
                            <a onclick="actionConfirmation('@Model.Item1[i].Id', 'Training', 'Delete')" class="btn bg-transparent"><i class="far fa-trash-alt fa-1x" data-placement="top" title="Delete training"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <partial name="_SearchAndFilterFooterPartial" />
</div>
<partial name="_NotificationPartial" />
@section scripts{
    <script type="text/javascript" src="~/js/paging.js"></script>
    <script type="text/javascript" src="~/js/search.js"></script>
    <script type="text/javascript" src="~/js/bootstrap-sortable.js"></script>
    <script type="text/javascript" src="~/js/moment.min.js"></script>
    <script src="~/js/notificationMsg.js"></script>
}