@*@model List<Eventures.Models.ViewModels.EventAllViewModel>
*@

@{
    ViewData["Title"] = "All";
}

<div class="jumbotron">
    <h1 class="text-center">All Requests</h1>
    <hr class="bg-resources hr-2" />
    <div style="width:100%">
        <p style="margin-top:14px">Type something in the input field to search the table for first names, last names or emails:</p>
        <input class="form-control" id="myInput" type="search" placeholder="Search..">
        <br>
        <div class="table-responsive">
            <table id="myTable2" class="table table-striped table-bordered table-sm sortable" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Project</th>
                        <th scope="col">Resource</th>
                        <th scope="col">Start</th>
                        <th scope="col">End</th>
                        <th scope="col">Hours</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody id="myTable">
                    @*@for (int i = 0; i < Model.Count; i++)
                        {
                        <tr class="row mx-auto">
                            <td class="col-md-1">@(i + 1)</td>
                            <td class="col-md-5">@Model[i].Name</td>
                            <td class="col-md-2">@Model[i].Start</td>
                            <td class="col-md-2">@Model[i].End</td>
                            <td class="col-md-2">@Model[i].Place</td>
                        </tr>
                        }*@
                    <tr>
                        <th scope="row">1</th>
                        <td>Test Test Test Test</td>
                        <td>Dimo Yanev</td>
                        <td>Test</td>
                        <td>Test</td>
                        <td>10</td>
                        <td>Test</td>
                        <td>
                            <button class="btn bg-transparent"><i class="fas fa-edit" data-placement="top" title="Edit Request"></i></button>
                            <button class="btn bg-transparent"><i class="far fa-trash-alt" data-placement="top" title="Delete Request"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Test</td>
                        <td>Test</td>
                        <td>Test</td>
                        <td>Test</td>
                        <td>20</td>
                        <td>Test</td>
                        <td>
                            <button class="btn bg-transparent"><i class="far fa-thumbs-up" data-toggle="tooltip" data-placement="top" title="Book Request"></i></button>
                            <button class="btn bg-transparent"><i class="far fa-thumbs-down" data-toggle="tooltip" data-placement="top" title="Reject Request"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>abc</td>
                        <td>bbc</td>
                        <td>Test</td>
                        <td>Test</td>
                        <td>30</td>
                        <td>Test</td>
                        <td>
                            <button class="btn bg-transparent"><i class="far fa-thumbs-up" data-toggle="tooltip" data-placement="top" title="Book Request"></i></button>
                            <button class="btn bg-transparent"><i class="far fa-thumbs-down" data-toggle="tooltip" data-placement="top" title="Reject Request"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts{
    @*
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@
    <script>
        $(document).ready(function () {
            $("#myInput").on("input", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                });
            });
        });
    </script>
}
