@model MyResourcePlanning.Web.ViewModels.Request.RequestCreateResourcesAndProjects



@{
    ViewData["Title"] = "Create";
}

<div class="jumbotron">
    

        <div class="form-group text-center">
            <label for="Resources">Resource</label>
            <select id="dropdown" class="form-control">
                <option selected disabled>ID;First Name;Last Name; Skills</option>
                @foreach (var option in Model.Resources)
                {
                    <option>@option.Id;@option.FirstName; @option.LastName; @string.Join(" ", @option.Skills)</option>
                }
            </select>
        </div>
        <hr class="bg-resources" style="height: 2px" />
        <div class="form-group text-center">
            <label for="Resources">Project</label>
            <select id="dropdown" class="form-control">
                <option selected disabled>ID;Project Name;Start Date;End Date</option>
                @foreach (var option in Model.Projects)
                {
                    <option>@option.Id;@option.Name;@option.Start;@option.End</option>
                }
            </select>
        </div>
</div>

@section scripts{
    <script type="text/javascript" src="~/js/twoColumnDropDown.js"></script>
    <script>
        twoColumnDropDown('#dropdown option', ';', 0, 10);
    </script>>

}