@model MyResourcePlanning.Web.ViewModels.Request.RequestCreateBaseViewModel



@{
    ViewData["Title"] = "Create";
}
<head>
    <script src="~/js//jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="~/js/errorMessages.js"></script>
    <script type="text/javascript" src="~/js/twoColumnDropDown.js"></script>
</head>
<div class="jumbotron">

    <h1 class="text-center" mt-3>Create Request</h1>
    <form id="createForm" method="post" class="w-50 mx-auto">
        <hr class="mt-3 bg-resources hr-2" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="d-flex justify-content-between">
            <div class="form-group w-45">
                <div class="d-flex justify-content-center">
                    <label asp-for="BindingModel.StartDate" class="font-weight-bold"></label>
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fas fa-calendar-alt"></i></span>
                    </div>
                    <input asp-for="BindingModel.StartDate" id="startDate" class="form-control" placeholder="dd/MM/yyyy" />
                </div>
                <span asp-validation-for="BindingModel.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group w-45">
                <div class="d-flex justify-content-center">
                    <label asp-for="BindingModel.EndDate" class="font-weight-bold"></label>
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fas fa-calendar-alt"></i> </span>
                    </div>
                    <input asp-for="BindingModel.EndDate" id="endDate" class="form-control" placeholder="dd/MM/yyyy" />
                </div>
                <span asp-validation-for="BindingModel.EndDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="d-flex justify-content-center">
                <label asp-for="BindingModel.Resource" class="font-weight-bold"></label>
            </div>
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                @*<div class="editor-field">
                    @Html.DropDownList("Resources",
                    new SelectList(Model.Resources, "Id" , "FirstName", "LastName"),
                    "Select Gender",
                    new { @class = "form-control" })
                </div>*@
                <select asp-for="BindingModel.Resource" id="dropdown" class="form-control">
                    <option selected disabled value="">ID;First Name;Last Name; Skills</option>
                    @foreach (var option in Model.Resources)
                    {
                        <option>@option.Id;@option.FirstName; @option.LastName; @string.Join("\n", @option.Skills)</option>
                    }
                </select>
            </div>
            <span asp-validation-for="BindingModel.Resource" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="d-flex justify-content-center">
                <label asp-for="BindingModel.Project" class="font-weight-bold"></label>
            </div>
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fas fa-business-time"></i> </span>
                </div>
                <select asp-for="BindingModel.Project" id="dropdown" class="form-control">
                    <option selected disabled value="">ID;Project Name;Start Date;End Date</option>
                    @foreach (var option in Model.Projects)
                    {
                        <option>@option.Id;@option.Name;@option.StartDate;@option.EndDate</option>
                    }
                </select>
            </div>
            <span asp-validation-for="BindingModel.Project" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="d-flex justify-content-center">
                <label asp-for="BindingModel.WorkingHours" class="font-weight-bold"></label>
            </div>
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fas fa-clock"></i> </span>
                </div>
                <input asp-for="BindingModel.WorkingHours" class="form-control" type="number" step="any" placeholder="Enter working hours..." />
            </div>
            <span asp-validation-for="BindingModel.WorkingHours" class="text-danger"></span>
        </div>
        <hr class="mt-3 bg-eventures hr-2" />
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary btn-block">
                Create New Request
            </button>
        </div>
    </form>
</div>

@section scripts{
    *
    <script src="~/js//jquery-datetimepicker/build/jquery.datetimepicker.full.min.js"></script>
    <script type="text/javascript">getErrorMsgs('#createForm')</script>
    <script>
        window.onload = () => {
            $('#startDate, #endDate').datetimepicker({
                timepicker: false,
                format: 'd/m/Y',
                minDate: '-1970/01/01',
                lang: 'en',
                todayButton: true,
                dayOfWeekStart: '1',
            });
        };
    </script>
    <script>
               // twoColumnDropDown('#dropdown option', ';', 0, 34);
    </script>>

}